Components/cJSON-master/cJSON/.visualgdb/
Components/libarchive-master/libarchive/libarchive/.visualgdb/CodeDB/libarchive-Debug-VisualGDB/codedb.lck
Components/libarchive-master/libarchive/libarchive/.visualgdb/
Components/libarchive-master/libarchive/libarchive/VisualGDB/Debug/libarchive.alldeps
Components/libarchive-master/libarchive/libarchive/VisualGDB/
Components/libuuid-master/libuuid/VisualGDB/
Components/libwpa/.visualgdb/
Components/libwpa/LibWPATests/.visualgdb/
Components/LVGL/lv_port_linux_frame_buffer/lvgl/lvgl/.visualgdb/
Components/md5-master/MD5/.visualgdb/
Components/LVGL/lv_port_linux_frame_buffer/lv_drivers/lvgl_drivers/.visualgdb/CodeDB/lvgl_drivers-Debug-VisualGDB/codedb.lck
*.o
Components/md5-master/MD5/VisualGDB/
Components/pigpio-master/pigpio/.visualgdb/
Components/pistache-master/Pistache/.visualgdb/
Components/sqlite3/sqlite3/.visualgdb/
Components/zeroconf-master/zeroconf/.visualgdb/
DB/.visualgdb/
Device/.visualgdb/
Device/AHTX0Sensor/.visualgdb/
Device/DeviceTests/.visualgdb/
Device/MCP9808Sensor/.visualgdb/
Device/PCA9685Device/.visualgdb/
Device/PM25AQISensor/.visualgdb/CodeDB/PM25AQISensor-Debug-VisualGDB/codedb-rohmer-dt-2.lck
Device/PM25AQISensor/.visualgdb/
Device/SwitchDevice/.visualgdb/
Installer/AddFileToPkg/.visualgdb/
Installer/CreatePkg/.visualgdb/
Installer/GenInstall/.visualgdb/
Installer/InstallLib/.visualgdb/
Logger/.visualgdb/
NetworkTools/.visualgdb/
NetworkTools/NetworkTests/.visualgdb/
RESTServer/.visualgdb/
SensorEvent/.visualgdb/
SensorEvent/SensorEventTests/.visualgdb/
Server/.visualgdb/CodeDB/
SmartShop/.visualgdb/
UI/StatusWidget/.visualgdb/
UI/UIWidget/.visualgdb/
*.so
*.rsp
UI/.visualgdb/
SwitchClient/.visualgdb/
ZeroConf/.visualgdb/
